<div class="scroll">
    <div class="content">
        <header>
            <li style="list-style-type: none;" class="nav-barr">
                <div class="logo">
                    <img style="cursor: pointer;" routerLink="/home" src="assets/taaswirt-logo.png" alt="" id="logo-img">
                    <h2 class="name" style="padding-left: 10px;"><a routerLink="/home" style="color: white;text-decoration: none;">RentRetreat
                    </a></h2>
                </div>
                
                <div class="center">
                    <h5 class="name" ><a routerLink="/home" style="color: white; text-decoration: none;">Home</a></h5>
                    <h5 class="name" ><a routerLink="/basket" style="color: white; text-decoration: none;">Basket <div *ngIf="checkSession() && this._shared.getTotalItems()!=0" style="text-align: center;position: absolute;background-color: red;border-radius: 50%;width: 15px;height: 15px; top: -10px;right: -15px;"><span >{{this._shared.getTotalItems()}}</span></div></a></h5>
                    <h5 class="name" ><a routerLink="/contact" style="color: white; text-decoration: none;">Contact</a></h5>
                    <h5 class="name" ><a routerLink="/about" style="color: white; text-decoration: none;">About</a></h5>
                    <h5 *ngIf="this._shared.adminAcc()" class="name" ><a routerLink="/add" style="color: white; text-decoration: none;">Add Product</a></h5>
                </div>
                
                <div class="right">
                    <button (click)="logOut()" *ngIf="this._shared.logOutvisibility" class="name" id="getstar" style="cursor: pointer;"><h5><a style="color: white; text-decoration: none;">Log out</a></h5></button>
                    <h5 *ngIf="!this._shared.logOutvisibility" class="name"><a routerLink="/login" style="color: white; text-decoration: none;">Login</a></h5>
                    <button *ngIf="!this._shared.logOutvisibility" class="name" id="getstar"><h5><a routerLink="/signup" style="color: white; text-decoration: none;">Get Started</a></h5></button>
                </div>
            </li>
        </header>
    </div>
</div>