<footer>
    <img src="assets/njxp4tks.png" alt="" class="footer-bg">
    <div class="footer-content">
        <div class="section-1">
            <div class="section-content" style="width: 83%;left: 10px;position: relative;margin-top: 30px;">
                <div class="logo">
                <img style="cursor: pointer;" routerLink="/home" src="assets/taaswirt-logo.png" alt="" id="logo-img">
                <h2 class="name" style="padding-left: 10px;cursor: pointer;" style="cursor: pointer;" routerLink="/home">kestate</h2>
                </div>
                <div class="section-1-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eos expedita consequuntur eveniet aspernatur laudantium autem odio.</div>
            </div>
        </div>
        <div class="section-2">
            <div class="section-content">
                <h3>Quick link</h3>
                <ul style="list-style-type: none;padding: 0;">
                    <li class="Quick-link-li"><a routerLink="/home" style="color: white;text-decoration: none;">Home</a></li>
                    <li class="Quick-link-li"><a routerLink="/basket" style="color: white;text-decoration: none;">Basket</a></li>
                    <li class="Quick-link-li"><a  style="color: white;text-decoration: none;">Contact</a></li>
                    <li class="Quick-link-li"><a style="color: white;text-decoration: none;">About</a></li>
                </ul>
            </div>
        </div>
        <div class="section-3">
            <div class="section-content">
                <h3>Support</h3>
                <ul style="list-style-type: none;padding: 0;">
                    <li class="Quick-link-li">About us</li>
                    <li class="Quick-link-li">Contact us</li>
                    <li class="Quick-link-li">Privacy Policy</li>
                    <li class="Quick-link-li">Terms & Conditions</li>
                </ul>
            </div>
        </div>
        <div class="section-4">
            <div class="section-content">
                <h3>Get in touch</h3>
                <ul style="list-style-type: none;padding: 0;">
                    <li class="Quick-link-li">homekestate .com</li>
                    <li class="Quick-link-li">8090 kelibia wra darchabeb -<br> rue souk</li>
                    <li><a style="color: white;" href="https://www.facebook.com/profile.php?id=61557025471392&locale=fr_FR"><i class='fab fa-facebook-square'></i></a><a  style="color: white;" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a style="color: white;" href="https://mail.google.com/mail/u/0/#search/fadibencheikh4%40gmail.com?compose=jrjtXFBVMkxpqCTnpDhpnwnCTRTDHTqcMwRvwdLMLBzfWFqKKjqHkHbSbVJHPnGzMxNkfCxH"><i id="mail" class='fas fa-envelope'></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright 2025 kestate</p>
    </div>
</footer>