
<div class="row mt-5">
    <div class="firstRaw" style="display: flex;">

        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.img" type="text" class="form-control m-1" placeholder="image path (assets/...)" style="width: 435px;">
        </div>
        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.rooms" type="text" class="form-control m-1" placeholder="S+rooms">
        </div> 
        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.baths" type="text" class="form-control m-1" placeholder="baths">
        </div> 
        


    </div>
    <div class="secondRaw" style="display: flex;">

        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.name" type="text" class="form-control m-1" placeholder="name">
        </div>
        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.price" type="text" class="form-control m-1" placeholder="price">
        </div>
        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.location" type="text" class="form-control m-1" placeholder="location">
        </div> 
        <div class="col-3">
            <input class="inputs" [(ngModel)]="dar.measure" type="text" class="form-control m-1" placeholder="measure(m)">
        </div> 
      
    </div>
    <div class="col-3">
      <button *ngIf="InputsFilled() && updatebtn" (click)="update()" class="btnn form-control m-1 text-light" style="background-color: rgb(0, 159, 0);">Update</button>
      <button *ngIf="InputsFilled() && !updatebtn" (click)="add()" class="btnn form-control m-1 text-light">Create</button>
    </div>  

    <h1 style="text-align: center;color: black;margin: 20px;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">List Of Products</h1>



   <div class="global-container" style="display: flex;">
    
    <div class="container" *ngFor="let dar of _shared.dars">
      <div class="product-box">
        <div class="product-image">
          <img [src]="dar.img" alt="Product Image" />
          <div class="product-overlay">
            <h5 class="product-name">
              <a href="#">{{dar.name}}</a>
              <span>{{dar.location}}</span>
            </h5>
            <p class="price">${{dar.price}}</p>
            <p class="description">A short product description here.</p>
            <div class="product-actions">
              <a (click)="_shared.delete(dar.id)" class="btn add-to-cart" style="cursor: pointer;">Delete</a>
              <a (click)="edit(dar)" class="btn more-info" style="cursor: pointer;">Edit</a>
            </div>
              <div class="rating" style="display: flex;color: white;">
              <i style="margin: 0 10px;" class='fas fa-couch'></i><h4 >S+{{dar.rooms}}</h4>
              <i style="margin: 0 10px;" class='fas fa-bath'></i><h4 >{{dar.baths}} Bath</h4>
              <i style="margin: 0 10px;" class='fas fa-ruler-horizontal'></i><h4 >{{dar.measure}} m</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
    
 
   </div>
    